.header a.active {
  color: var(--bs-success) !important;
}

.header .navbar-nav {
  gap: 10px;
}

.header .navbar-nav li {
  position: relative;
}

.header .navbar-nav li::after {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  left: 5px;
  margin: 0 auto;
  background-color: green;
  transition: all 0.5s;
}

.header .navbar-nav li:hover::after {
  width: 85%;
  transition: all 0.5s;
}

.carousel-demo {
  max-height: 600px;
}

.carousel-demo .carousel-item .img-carousel {
  height: 600px;
}

.carousel-demo .carousel-inner .carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.carousel-demo .carousel-inner .carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.carousel-demo .carousel-inner .carousel-caption {
  z-index: 2;
}
.header {
  z-index: 10;
}

.carousel-indicators .active {
  opacity: 1;
  background: green !important;
  width: 20px;
  border-radius: 50%;
}
.carousel-indicators [data-bs-target] {
  background: gray;
  width: 20px;
  border-radius: 50%;
}

/*project*/
.projects .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--bs-success);
}

.projects .tab-pane .card {
  animation: display-zoom-item 1s;
}

@keyframes display-zoom-item {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}